@model List<Recognize>
@{
    Layout = "_Layout";
    ViewData["Title"] = "История";
}

<hr />
<h1 style="text-align: center;">История распознаваний</h1>
<hr />
<table style="margin-top: 50px;" align="center">
<tbody>
<tr>
<td style="padding: 10px; text-align: center;">Id</td>
<td style="padding: 10px; text-align: center;">Изображение</td>
<td style="padding: 10px; text-align: center;">Количество обнаруженных лиц</td>
</tr>
@foreach (var rec in Model)
{
<tr>
<td style="padding: 10px; text-align: center;">@rec.Id</td>
<td style="padding: 10px; text-align: center;"><img src="/Home/GetImage/@rec.Id" style="width: 150px; height: 100px"/></td>
<td style="padding: 10px; text-align: center;">@rec.Result</td>
</tr>
}
</tbody>
</table>